@media only screen and (min-width: 320px) {
  
    .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);           
margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 70%;
			height: auto;
			color: white;
			font-size: 22px;
			position: relative;
			left: 500px;

        }
		
		      .modal-content2 {
background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
 margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 70%;
			height: auto;
			color: white;
			font-size: 22px;

        }
		

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
		
		.myBtn_multi {
			background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);

color: white;
font-size: 23px;
width: 430px;
opacity: 0.9;
font-weight: bold;

		}
		
		.myBtn_multi:hover {
			
			  opacity: 1;

		}
		
		.myBtn_multi:active {
		 box-shadow: 0 5px #666;
  transform: translateY(4px);
  opacity: 1;
		}
		

		.myBtn {
background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
color: white;
font-size: 23px;
width: 430px;
opacity: 0.9;
font-weight: bold;
		}
		
				.myBtn:active {
 box-shadow: 0 5px #666;
  transform: translateY(4px);
  opacity: 1;
		}
		
		.myBtn:hover {
			
			opacity: 1.1;
			
		}
  
  
}

@media only screen and (min-width: 480px) {
    .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);           
margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 70%;
			height: auto;
			color: white;
			font-size: 22px;
			position: relative;
			left: 500px;

        }
		
		      .modal-content2 {
background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
 margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 55%;
			height: auto;
			color: white;
			font-size: 22px;

        }
		

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
		
		.myBtn_multi {
			background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);

color: white;
font-size: 23px;
width: 430px;
opacity: 0.9;
font-weight: bold;

		}
		
		.myBtn_multi:hover {
			
			  opacity: 1;

		}
		
		.myBtn_multi:active {
		 box-shadow: 0 5px #666;
  transform: translateY(4px);
  opacity: 1;
		}
		

		.myBtn {
background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
color: white;
font-size: 23px;
width: 430px;
opacity: 0.9;
font-weight: bold;
		}
		
				.myBtn:active {
 box-shadow: 0 5px #666;
  transform: translateY(4px);
  opacity: 1;
		}
		
		.myBtn:hover {
			
			opacity: 1.1;
			
		}
  }







/* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);           
margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 55%;
			height: auto;
			color: white;
			font-size: 22px;
			position: relative;
			left: 300px;

        }
		
		      .modal-content2 {
background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
 margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 55%;
			height: auto;
			color: white;
			font-size: 22px;

        }
		

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
		
		.myBtn_multi {
			background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);

color: white;
font-size: 23px;
width: 430px;
opacity: 0.9;
font-weight: bold;

		}
		
		.myBtn_multi:hover {
			
			  opacity: 1;

		}
		
		.myBtn_multi:active {
		 box-shadow: 0 5px #666;
  transform: translateY(4px);
  opacity: 1;
		}
		

		.myBtn {
background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
color: white;
font-size: 23px;
width: 430px;
opacity: 0.9;
font-weight: bold;
		}
		
				.myBtn:active {
 box-shadow: 0 5px #666;
  transform: translateY(4px);
  opacity: 1;
		}
		
		.myBtn:hover {
			
			opacity: 1.1;
			
		}